@model CitasApp.Domain.Models.Paciente
<h1>@Model.Nombre @Model.Apellido</h1>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>TelÈfono:</strong> @Model.Telefono</p>
<a asp-action="Index">? Volver a la lista</a>
<br />
<a asp-controller="Cita" asp-action="PorPaciente" asp-route-pacienteId="@Model.Id">Ver sus citas</a>

